.prvo{
    margin-left:15px;
    margin-top:5px;
    width:95%;
}
.labela-selekt{
    margin-left:10px;
    margin-top:5px;
}
.selekt{
    margin-left:20px;
    margin-top:15px;
}
.futer{
    background-color: #00ffe4;
    height: 70px;
    width: 100%;
}
body{
    background-color: #2b81af;
}
.baner{

}